.exact__price-tab .exact__price-tab-ul-item .container {
  max-width: 1138px;
  width: 100%;
}

.container ul.tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: stretch;
  margin-bottom: 40px;
}

.container .tabs li.tab-link {
  margin-bottom: 0;
}

.container ul.tabs .tab-link .tab-link__image-container {
  max-width: 62px;
}

@media only screen and (max-width: 920px) {
  .container ul.tabs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  .container ul.tabs {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;
  }

  .exact__price-tab .exact__price-tab-ul-item .container {
    padding: 0;
  }

  .container .calculator_item_inner {
    padding: 8px 0;
    flex-wrap: nowrap;
  }

  .container .item_quantity {
    position: inherit;
  }
}
